<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" href="/favicon.ico" />
			<link href="https://fonts.googleapis.com/css2?family=Roboto%20Mono" rel="stylesheet"> 
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/resources">Resources</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ks0t@arrl.net">email</a></li>
	        		<li><a href="https://github.com/ks0t">github.com/ks0t</a></li>
				</ul>
			</footer>
		</body>
	</html>
